body {
    background-color: #4158D0;
}

#wrapper {
    margin: 9vh auto;
    background-color: white;
    width: 70%;
    box-shadow: 1px 0px 23px -1px rgba(0,0,0,0.79);
}

.todolist {
    margin: 1.3rem auto;
}

.todolist button {
    margin-right: 0.5rem;
}

.task-done {

    opacity: 0.4;
}

.task-done .task-content {
    text-decoration: line-through;
}

.task-done .done-task-button {
    pointer-events: none;
}