<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/main.css" type="text/css">
    <title>Todo Lists</title>
  </head>
  <body class="bg-primary">
    <div class="p-4" id="wrapper">
      <header>
        <h1>ToDoLists</h1>
      </header>
      <div id="content" data-id="{{ id_ }}">
        <h3>Create todolist</h3>
        <form id="edit-todolist-form">
          <input type="text" id="todolist-name" placeholder="name" class="form-control my-3" required value="{{ name }}">
          <input type="text" id="todolist-description" placeholder="description" class="form-control my-3" value="{{ description }}">
          <div id="update-errors" class="my-3 text-danger"></div>
          <input type="submit" value="Edit ToDoList" class="btn btn-primary">
        </form>
        <hr>
        <h3>Create Task</h3>
        <form id="create-task-form">
          <input type="text" id="task-content" placeholder="content" class="form-control my-3" required>
          <div id="create-task-errors" class="my-3 text-danger"></div>
          <input type="submit" value="Create task" class="btn btn-primary">
        </form>
        <hr>
        <h3>Tasks List</h3>
        <hr>
        <div id="tasks-list">

        </div>
      </div>
    </div>
    <script type="module" src="../static/edit_todolist.js"></script>

    <template id="task-template">
      <div class="task">
        <h3 class="task-content"></h3>
          <button class="delete-task-button btn btn-danger my-2">Delete</button>
          <button class="delete-task-button btn btn-success">Done</button>
        <hr>
      </div>
    </template>

  </body>
</html>